<section>
  <div class="row">
    <div class="4u image">
      <img src="../assets/petry.jpg" alt="">
    </div>
    <h2 id="about">About Anna</h2>
    <p id="resume">
      <%=
        link_to 'Résumé',
        asset_path("AnnaPetryResume.pdf"),
        :target => "_blank"
      %>
    </p>
    <div class="description-div">
      <p class="description about">
        I’m a
        <span>developer</span>, a
        <span>designer</span>, and a
        <span>maker</span>. I build products and tools that solve real user problems, and I have fun doing it.  I like diving into new technologies, flipping them upside-down and inside-out to figure out how and why they work.  I’m a quick study and have an appetite for learning.
      </p>
      <p class="description about">
Located in <span>San Francisco</span>, I'm currently looking for rad engineering opportunities. I like companies that are <span>funky and diverse</span>, <span>transparent and supportive</span>, where people are proud of the work they do.  If that sounds like someplace you know, <span>get in touch!</span>
      </p>
      <p id="email">
        hello@annapetry.com
      </p>
    </div>
  </div>
</section>