<section>
  <div class="row">
    <div class="4u image">
      <img src="../assets/petry.jpg" alt="">
    </div>
    <h2 id="about">About Anna</h2>
    <p id="resume">
      <%=
        link_to 'Résumé',
        asset_path("AnnaPetryResume.pdf"),
        :target => "_blank"
      %>
    </p>
    <div class="description-div">
      <p class="description about">
        I’m a
        <span>developer</span>, a
        <span>designer</span>, and a
        <span>maker</span>. With a background in web development and product design, I’m in hot pursuit of a career at the intersection of the technical and the creative. Most recently, I’ve been building a solid foundation in
        <span>Ruby</span>,
        <span>Ruby on Rails</span>,
        <span>JavaScript</span>, and
        <span>Backbone.js</span>.
      </p>
      <p class="description about">
        Located in San Francisco, I'm currently looking for web development opportunities. I'd prefer someplace a little funky, where people are proud of their work. If that sounds like someplace you know, get in touch!
      </p>
      <p id="email">
        hello@annapetry.com
      </p>
    </div>
  </div>
</section>