<header>
  <h2>Artifacts</h2>
</header>
<p>
  A selection of artifacts I've designed and built.
</p>
<section>
  <div class="row">
    <div class="4u">
      <div class="image fit no-shadow">
        <img src="../assets/chain.jpg" alt="Chain Hanger">
      </div>
    </div>
    <div class="4u">
      <div class="image fit no-shadow">
        <img src="../assets/tri.jpg" alt="Wall-Mounted Planter">
      </div>
    </div>
    <div class="4u">
      <div class="image fit no-shadow">
        <img src="../assets/major-arc.jpg" alt="Geometric">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="4u">
      <div class="image fit no-shadow">
        <img src="../assets/geo.jpg" alt="Major Arc">
      </div>
    </div>
    <div class="4u">
      <div class="image fit no-shadow">
        <img src="../assets/pyramid.jpg" alt="Pyramid">
      </div>
    </div>
    <div class="4u">
      <div class="image fit no-shadow">
        <img src="../assets/minor-arc.jpg" alt="Minor Arc">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="4u">
      <div class="image fit no-shadow">
        <img src="../assets/vert.jpg" alt="Arrows">
      </div>
    </div>
    <div class="4u">
      <div class="image fit no-shadow">
        <img src="../assets/nook-case.jpg" alt="Nook Case">
      </div>
    </div>
    <div class="4u">
      <div class="image fit no-shadow">
        <img src="../assets/knives.jpg" alt="Wooden Knives">
      </div>
    </div>
  </div>
</section>