<nav id="nav">
  <a href="#me" class="active">
    <i class="fa fa-home"></i>
    <span>Home</span>
  </a>
  <a href="#work">
    <i class="fa fa-code"></i>
    <span>Projects</span>
  </a>
  <a href="#about" class="icon fa-heart-o">
    <i class="fa fa-heart-o"></i>
    <span>About</span>
  </a>
  <a href="#contact" class="icon fa-envelope">
    <i class="fa fa-envelope"></i>
    <span>Contact</span>
  </a>
</nav>