<header>
  <h2>Projects</h2>
</header>
<p>
  A selection of fun apps I've made. Ask me about what I'm working on now!
</p>
<section>

  <div class="row">
    <div class="4u">
      <a
        href="http://www.pintrospective.com"
        class="image fit"
        target="_blank">
        <img src="../assets/the-lovers.jpg" alt="">
      </a>
    </div>
    <div class="description-div">
      <h3>Pintrospective</h3>
      <a href="http://www.pintrospective.com" target="_blank">
        Live
      </a>
       ・
      <a
        href="https://github.com/annapetry/pintrospective"
        target="_blank">
        Github
      </a>
      <p class="description">
        A Pinterest clone for visual artists,
        built with Ruby on Rails & Backbone.js
      </p>
      <ul>
        <li>
          ▹ Simultaneously creates & updates User model and polymorphic Image
          model using nested attributes & wrapped parameters.
        </li>
        <li>
          ▹ Enjoys snappy navigation on the index view, thanks to the relentless hunting down of n+1 queries
        </li>
        <li>
          ▹ Consumes a RESTful Rails API which also includes
          custom routes.
        </li>
      </ul>
    </div>
  </div> <!-- Close of Pintrospective -->

  <div class="row">
    <div class="4u alt">
      <a
        href="http://chapp-room.herokuapp.com/"
        class="image fit" id="chApp"
        target="_blank">
        <img src="../assets/ChApp-Room.jpg" alt="">
      </a>
    </div>
    <div class="description-div alt-description">
      <h3>ChApp Room</h3>
      <a
        href="http://chapp-room.herokuapp.com/"
        target="_blank">
        Live
      </a>
       ・
      <a
        href="https://github.com/annapetry/ChApp"
        target="_blank">
        Github
      </a>
      <p class="description">
        A fun little chat app using Node.js.
      </p>
      <ul>
        <li>
          ▹ Uses Socket.IO to add cross-browser support to websockets.
        </li>
        <li>
          ▹ Uses node-static to serve static files.
        </li>
        <li>
          ▹ Allows guests to change their names and switch rooms.
        </li>
      </ul>
    </div>
  </div> <!-- Close of ChApp Room -->

  <div class="row">
    <div class="4u">
      <a
        href="http://do-tha-dang-thang.herokuapp.com"
        class="image fit"
        target="_blank">
        <img src="../assets/dang-thang.jpg" alt="">
      </a>
    </div>
    <div class="description-div">
      <h3>Do Tha Dang Thang</h3>
      <a
        href="http://do-tha-dang-thang.herokuapp.com"
        target="_blank">
        Live
      </a>
       ・
      <a
        href="https://github.com/annapetry/TrelloClone"
        target="_blank">
        Github
      </a>
      <p class="description">
        A simple Trello clone,
        built with Ruby on Rails & Backbone.js
      </p>
      <ul>
        <li>
          ▹ Uses jQueryUI’s sortable method to enable sorting of
          lists & cards, which persist to the DB.
        </li>
        <li>
          ▹ Extends Backbone’s View to support efficient rendering of
          composite views, allowing cards to be rendered within lists.
        </li>
        <li>
          ▹ Consumes a RESTful Rails API.
        </li>
      </ul>
    </div>
  </div> <!-- Close of DTDT -->

  <div class="row">
    <div class="4u alt">
      <a
        href="http://hashtag-battleground.herokuapp.com/"
        class="image fit" id="htbg"
        target="_blank">
        <img src="../assets/HTBG.jpg" alt="">
      </a>
    </div>
    <div class="description-div alt-description">
      <h3>Hashtag Battleground</h3>
      <a
        href="http://hashtag-battleground.herokuapp.com/"
        target="_blank">
        Live
      </a>
       ・
      <a
        href="https://github.com/annapetry/HashtagBattleNode"
        target="_blank">
        Github
      </a>
      <p class="description">
        A fun little Twitter Hashtag Battle app using Node.js.
      </p>
      <ul>
        <li>
          ▹ Uses Socket.IO to maintain connection to Twitter API to access streaming tweets.
        </li>
        <li>
          ▹ Instantly updates counters to reflect increasing number of times tweets with the specified hashtags are tweeted.
        </li>
        <li>
          ▹ Restricts Users to one vote per contest. No cheating!
        </li>
      </ul>
    </div>
  </div> <!-- Close of HTBG -->

</section>