<% unless flash[:notice].nil? %>
  <div
    class="alert alert-dismissible"
    id="error"
    role="alert">
     <button
       type="button"
       class="close"
       data-dismiss="alert">
       <span aria-hidden="true" id="close">&times;</span>
     </button>
   <span id="alert-text"><%= flash[:notice]%></span>
 </div>
<% end %>